* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.category-product-title {
    color: darkslategray;
    margin-bottom: 10px;
}

h3 {
    color: darkslategray;
    margin-top: 10px;
}

.category-product-finance-price {
    color: darkslategray;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.category-product-info-stock {
    border: solid 1px white;
    background-color: lightgrey;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    border-color: black;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
}

.add-to-basket {
    background-color: gray;
}


a {
    color: darkslategray;
    text-decoration: none;
}

img {
    width: 300px;
    height: 266px;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 1fr 0.1fr;
}

header a {
    color: white;
}

#search {
    display: flex;
}

#search input {
    margin-left: 10px;
    height: 30px;
    margin-top: 5px;
}

#headerHomeIcon {
    justify-self: start;
}

#headerTitle {
    justify-self: end;
}

#headerCartIcon {
    justify-self: end;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.1;
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

nav ul li {
    padding-bottom: 5px;
}

nav ul li:hover {
    color: blue;
}

main {
    flex: 0.9;
    padding-top: 20px;
    min-height: 77vh;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.1fr 0.25fr;
    column-gap: 20px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0
}

footer a {
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
